//
// Custom Fonts
//


// Miso
@font-face {
  font-family: miso;
  src: url("../fonts/miso/miso.otf");
  font-weight: normal !important;
}

@font-face {
  font-family: misoBold;
  src: url("../fonts/miso/miso-bold.otf");
  font-weight: normal !important;
}

@font-face {
  font-family: misoLight;
  src: url("../fonts/miso/miso-light.otf");
  font-weight: normal !important;
}