// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Removes special label form styling
@mixin label-normal {
  color: $light;
  float: none;
  font-family: $roboto;
  font-size: 1em; // 1em * 16px = 16px
  text-align: left;
  width: auto;
}

// Button
@mixin devsigner-button($bg:$purpleSecondary,$color:$white) {
  background-color: $bg;
  border: none;
  color: $color;
  font-family: $miso-bold;
  font-size: 24px;
  margin-right: 26px;
  padding: 10px 26px 8px;
  white-space: nowrap;
  @include border-radius(4px);
  @include transition(all 200ms ease);
  &:hover {
    background-color: darken($bg, 20%);
  }
}

// Custom devsigner-button class
#page {
  .devsigner-button {
    @include devsigner-button;
  }
  .devsigner-button.lime {
    @include devsigner-button($lime);
  }
}

// Icon Set
@mixin devsigner-icon($content: "\e600", $size: 18px) {
  content: $content;
  font-family: 'icomoon';
  font-size: $size;
  line-height: $size;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
