//
// Content
//

.breadcrumb {

  font-size: 0.875em; // 0.875 / 16px = 14px
  margin-top: 24px;
  text-transform: uppercase;

  li {
    padding: 0 16px 0 0;

    &:after {
      background: url("../images/crumb.png") no-repeat 0 1px;
      content: "";
      display: inline-block;
      height: 10px;
      margin-left: 16px;
      width: 6px;
    }

    &:last-child:after {
      background: none;
      height: 0;
      margin: 0;
      width: 0;
    }
  }

  a {
    color: $light;

    &:hover {
      color: $navy;
    }
  }
}

h1#page-title {
  border-bottom: 2px solid #EBEDF1;
  color: $navy;
  font-size: 4.5em; // 4.5 / 16px = 72px
  line-height: 1em;
  margin-top: 17px;
  margin-bottom: 20px;
}

#content {
  article {
    h2 {
      line-height: 1;
    }
    h3 {
      line-height: 1;
      margin-bottom: .75em;
    }
    p {
      margin-top: .5em;
      margin-bottom: 1em;
    }
    ul {
      margin-top: .5em;
    }
  }
}
