//
// Header
//

#header-wrapper {
  background-color: $navy;
  // @TODO Add top:-420px to #main and remove fixed height;
  height: 895px;
  overflow: hidden;
}

.header-inner {
  height: 130px;
  @include container;
}

#navigation-wrapper {
  @include column(9);
}

#logo {
  @include column(3);
  margin-top: 16px;
}