//
// Header
//

#header-wrapper {
  // Gradient
  background-color: $purplePrimary; // Old browsers
  @include filter-gradient($purplePrimary, $purpleSecondary, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left bottom,  $purplePrimary 0%,$purpleSecondary 96%));
}

.header-inner {
  height: 130px;
  @include container;
}

#navigation-wrapper {
  @include column(9);

  @media screen and (max-width: $tablet) {
    // Width for mobile
    width: 100%;
  }
}

#logo {
  @include column(3);
  margin-top: 16px;

  @media screen and (max-width: 600px) {
    // Width for mobile
    width: 41.6666667%; // 5 columns / 12 total = 41.66667%
  }
}
