//
// Homepage specific styling
//

.front {

  html[xmlns] .slides {display: block;}
  .flexslider .slides > li {display: none;}


  #header-wrapper {
    // Fallback for browsers that don't support vw
    max-height: 900px;
    max-height: 61.3vw;
    overflow: hidden;
    transition: max-height 0.7s;

    // Need to make adjustments to height when slider is below header
    @media screen and (max-width: $tablet) {
      max-height: 59vw;
    }
    @media screen and (max-width: 650px) {
      max-height: 58vw;
    }
    @media screen and (max-width: 600px) {
      max-height: 83vw;
    }
    @media screen and (max-width: 500px) {
      max-height: 85.8vw;
    }
    @media screen and (max-width: 400px) {
      max-height: 87vw;
    }
    @media screen and (max-width: 320px) {
      max-height: 94vw;
    }
  }

  #header-section,
  .region-header {
    max-width: 100%;
    width: 100%;
  }

  #header-section {
    overflow: hidden;
  }

  .header-inner {
    position: relative;
    z-index: 500;
  }

  #header {

    // Flexslider slideshow block
    h2.block-title {
      @include element-invisible;
    }

    .block {
      margin: 0;
    }

    #block-views-flex-slider-block {

      max-width: 100%;

      .view-content {
        max-height: 700px;
      }

      .flexslider {
        background: $navy;
        border: none;
        margin: 0;
        position: relative;
        top: -130px;
        max-height: 830px;
        overflow: hidden;
        @include border-radius(none);

        @media screen and (max-width: $tablet) {
          top: -172px;
        }

        @media screen and (max-width: 600px) {
          top: -56px;
        }

        // Prev / Next Arrows
        .flex-direction-nav {

          a.flex-next {
            display: block;
            margin-top: -50px;
            margin-right: -5px;

            &:before {
              content: "";
              background: url("../images/slider-right.png") no-repeat 0 0;
              height: 31px;
              width: 19px;
            }

            @media screen and (max-width: 1200px) {
              margin-top: -100px;
            }
            @media screen and (max-width: 900px) {
              margin-top: -150px;
            }
            @media screen and (max-width: 600px) {
              margin-top: -70px;
            }
          }
          a.flex-prev {
            display: block;
            margin-top: -50px;
            margin-left: -5px;

            &:before {
              content: "";
              background: url("../images/slider-left.png") no-repeat 0 0;
              height: 31px;
              width: 19px;
            }

            @media screen and (max-width: 1200px) {
              margin-top: -100px;
            }
            @media screen and (max-width: 900px) {
             margin-top: -150px;
            }
            @media screen and (max-width: 600px) {
              margin-top: -70px;
            }
          }
        }

        // Pager
        .flex-control-nav.flex-control-paging {
          bottom: 65px;
          z-index: 5;

          a {
            background: url("../images/slider-pager.png") 0 0 no-repeat;
            border-radius: 0;
            box-shadow: none;
            height: 22px;
            width: 22px;

            &.flex-active {
              background: url("../images/slider-pager-active.png") 0 0 no-repeat;
            }
          }
          @media screen and (max-width: 1300px) {
            bottom: 180px;
          }
          @media screen and (max-width: 1028px) {
            bottom: 270px;
          }
          @media screen and (max-width: 900px) {
            bottom: 270px;
          }
          @media screen and (max-width: 600px) {
            bottom: 100px;
          }
          // Remove pager on very small screens
          @media screen and (max-width: 400px) {
            @include element-invisible;
          }
        }

        .views-field-title,
        .views-field-body,
        .views-field-field-link {
          @include container;
        }

        .views-field-nothing {
          position: relative;
          // Fallback for browsers that don't support vw
          top: 577px;
          top: -45vw;

          @media screen and (max-width: 1500px) {
            top: -42vw;
          }
          @media screen and (max-width: $tablet) {
            top: -44vw;
          }
          @media screen and (max-width: 670px) {
            top: -46vw;
          }
          @media screen and (max-width: 600px) {
            top: -57vw;
          }
        }

        .views-field-title {
          color: $white;
          font-family: $miso-bold;
          font-size: 4.5em; // 4.5em * 16px = 72px
          line-height: 1.2em;
          text-transform: uppercase;

          span {
            padding: 0 30px;
            display: block;
          }

          a {
            color: $white;
          }

          // Slideshow text position adjustments for smaller screens
          @media screen and (max-width: 900px) {
            font-size: 3.5em;
          }
          @media screen and (max-width: 600px) {
            font-size: 2.2em;
            line-height: 1;
          }

        }

        .views-field-body {
          color: $white;
          font-family: $miso-bold;
          font-size: 3em; // 3em * 16px = 48px
          line-height: 1.2em;

          .field-content {
            padding: 0 30px;
          }

          p {
            margin: 20px 0 40px 0;
          }

          // Slideshow text position adjustments for smaller screens
          @media screen and (max-width: 900px) {
            font-size: 2em;
          }
          @media screen and (max-width: 600px) {
            font-size: 1.25em;

            p {
              margin: 5px 0 20px 0;
            }
          }
        }

        .views-field-field-link {
          .field-content {
            padding: 0 30px;
          }

          a {
            @include devsigner-button($lime);
          }
        }

        .views-field-field-slide-image {
          height: 62.5vw;
        }
      }
    }
  }

  // About Us
  #content-wrapper {
    min-height: 600px;
    position: relative;

    @media screen and (max-width: $tablet) {
      min-height: 0;
    }
  }

  #content-horse {
    background: url("../images/horse.jpg") no-repeat 0 0;
    position: absolute;
    left: 41.6666667%;
    overflow: hidden;
    height: 100%;
    width: 58.333333%;
    z-index: 1;

    @media screen and (max-width: $tablet) {
      background: none;
    }
  }

  .content-inner {
    @include column(5);

    @media screen and (max-width: $tablet) {
      @include column(12);
    }

    z-index: 3;
    position: relative;

    article {
      margin-bottom: 1.5em;
    }

    h1#page-title {
      border-bottom: none;
      margin-top: 70px;

      @media screen and (min-width: $tablet) and (max-width: 960px) {
        margin-top: 50px;
      }

      @media screen and (max-width: $tablet) {
        font-size: 3.5em;
        margin-top: 40px;
      }
    }

    .field-name-body {
      p:first-child {
        font-size: 27px;
        line-height: 1.5em;

        @media screen and (min-width: $tablet) and (max-width: 960px) {
          font-size: 22px;
        }
      }
      a.devsigner-button {
        @include devsigner-button($white,$navy);
        border: 1px solid $navy;

        &:hover {
          color: $white;
          background: $navy;
        }
      }
    }
  }

  // News & Updates Block
  #block-views-blog-block {

    @include clearfix;
    margin-bottom: 70px;

    h2.block-title {
      margin-top: 47px;
      text-align: center;
    }

    .views-row {
      @include column(4);
      margin-bottom: 1.5em;

      @media screen and (max-width: 655px) {
        @include column(12);
      }
    }

    .views-field-title {
      border-top: 1px solid #f0f2f4;
      border-left: 1px solid #f0f2f4;
      border-right: 1px solid #f0f2f4;
      padding: 25px 25px 10px;

      span {
        border-bottom: 1px solid #f0f2f4;
        display: block;
      }

      a {
        font-size: 1.5625em; // 1.5625em * 16px = 25px
      }
    }

    .views-field-body {
      border-left: 1px solid #f0f2f4;
      border-right: 1px solid #f0f2f4;
      color: $light;
      padding: 5px 25px 25px;
    }

    .views-field-view-node {
      border-bottom: 1px solid #f0f2f4;
      border-left: 1px solid #f0f2f4;
      border-right: 1px solid #f0f2f4;
      padding: 5px 25px 25px;

      a {
        @include devsigner-button($white,$navy);
        border: 1px solid $navy;

        &:hover {
          color: $white;
          background: $navy;
        }
      }
    }
  }

  // Keynote Speakers block
  .keynotes {

    @include clearfix;
    margin-bottom: 70px;

    h2.block-title {
      color: $lime;
      margin-bottom: 4px;
      margin-top: 47px;
      text-align: center;
    }

    .keynote-row {
      @include column(6);
      margin-bottom: 1.5em;

      .left {
        @include column(2,6);
        @include alpha;
      }
      .right {
        @include column(4,6);
        @include omega;
      }

      @media screen and (max-width: 655px) {
        @include column(12);
      }
    }

    h3 {
      border-bottom: 1px solid $white;
      color: $navy;
      font-size: 1.5625em; // 1.5625em * 16px = 25px
      line-height: 1em;
      padding-bottom: 8px;
      margin-bottom: 13px;
    }

    p {
      color: #0d0d0d;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  // Session Tracks Block
  #block-views-session-tracks-block {

    @include clearfix;
    margin-bottom: 10px;

    h2.block-title {
      color: $white;
      text-align: center;
    }

    .views-row {
      @include column(3);

      a {
        @include devsigner-button($white, $white);
        border: 1px solid $white;
        background: none;
        display: block;
        margin-bottom: 60px;
        text-align: center;

        &:hover {
          background: $navy;
          border: 1px solid $navy;
          color: $white;
        }
      }
    }
  }

  // Google Maps Block
  #tier_5 {

    .block {
      // Remove extra whitespace around iframe
      line-height: 0;
      margin-bottom: 0;
    }

    iframe {
      max-width: 100%;
    }

    p {
      margin: 0;
    }

    // Overlay to prevent scrolling on google Map
    .overlay {
      background: transparent;
      position: absolute;
      width: 100%;
      height: 500px; /* your iframe height */
      top: 0;
    }
  }
}

// Fix for mobile menu
@media screen and (max-width: $tablet) {
  .main-menu-active #header-wrapper {
    max-height: 1000px !important;
  }
}
