//
// Schedule Page
//

// Top half of schedule page
.schedule-day {
  @include column(2, 4);
  margin-bottom: 1.5em;

  &:first-child {
    @include alpha;
  }
  &:last-child {
    @include omega;
  }

  @media screen and (max-width: $tablet) {
    @include column(9, 9);
  }

  h3 {
    font-size: 1.5em; // 1.5em * 16px = 24px
    margin-bottom: 0;

    .day {
      color: $navy;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {

    font-family: $miso-bold;
    font-size: 1.125em; // 1.125 * 16px = 18px
    list-style: none;
    padding: 10px 20px;

    &:nth-child(2n+1) {
      background: #EEEEEE;
    }

    .schedule-label,
    a {
      display: block;
      font-size: 1.3125em; // 1.3125em * 16px = 21px
    }

    .room {
      text-transform: uppercase;
    }
  }

  &.friday {
    .room {
      color: $lime;
    }
  }
    &.saturday {
    .room {
      color: $fuschia;
    }
  }
    &.sunday {
    .room {
      color: $teal;
    }
  }
}

// Bottom Half of Schedule Page
.schedule-detail {
  clear: both;

  h2 {
    color: $navy;
    border-bottom: 2px solid #ebedf1;
    font-size: 3em; // 3 *16 = 48px
    line-height: 1.25;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.875em; // 1.875em * 16px = 30px
    line-height: 1.5;
    margin-bottom: 0;

    .day {
      color: $navy;
    }
  }

  h4 {
    color: $white;
    padding: 12px 5px 8px;
    font-size: 1.875em; // 1.875 * 16 = 30px
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 21px;
    line-height: 1.5;
    color: #012233;

    .field-type-taxonomy-term-reference {
      display: inline;
      padding-left: 10px;
      margin-bottom: 0;

      .field-items {
        display: inline;
      }
    }

    span {
      &.session-title {
        font-family: misoBold, Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      }

      &.session-presenter {
        color: #616061;
      }
    }

    &:before {
      content: "\25A0";
      font-size: 12px;
      padding-right: 5px;
      position: relative;
      top: -2px;
    }
  }

  .friday {
    border-bottom: 2px solid #ebedf1;
    margin-bottom: 1.5em;

    h4 {
      background: $lime;
    }
    li:before {
      color: $lime;
    }
  }

  .saturday {
    border-bottom: 2px solid #ebedf1;
    margin-bottom: 1.5em;

    h4 {
      background: $fuschia;
    }
    li:before {
      color: $fuschia;
    }
  }

  .sunday {
    h4 {
      background: $teal;
    }
    li:before {
      color: $teal;
    }
  }
}
