//
// Sponsor Block and page styling
//

// Sponsors Block
.sponsors {
  h2.block-title {
    margin-bottom: 8px;
    margin-top: 42px;
    text-align: center;
  }

  .view-content {
    @include clearfix;
    position: relative;
  }

  .views-row {
    @include column(3);
    margin-bottom: 23px;
    margin-top: 23px;
    padding: 0 37px;
    position: relative;
    height: 200px;

    .views-field {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%); /* IE 9 */
      -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
      transform: translateY(-50%);
      max-width: 75%;
    }


    @media screen and (max-width: $desktop) {
      @include column(4);
      padding: 0 37px;
    }

    @media screen and (max-width: $tablet) {
      @include column(6);
      padding: 0 37px;
    }
  }
}

// Hide old sponsors block
#block-block-4 {
  @include element-invisible;
}

// Sponsors list page
.page-sponsors {

  h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0.75em;
  }

  .views-row {
    @include clearfix;
    margin-bottom: 50px;

    .field-content {
      font-family: $miso-bold;
      font-size: 1.3em;
      line-height: 1;

      p {
        font-family: $miso;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 1em;
        margin-top: 0.5em;
      }
    }
  }

  .views-field-field-sponsor-image {
    @include column(5);
    margin-bottom: 50px;

    @media screen and (max-width: $tablet) {
      @include column(12);
      margin-bottom: 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .views-field-nothing {
    @include column(7);

    @media screen and (max-width: $tablet) {
      @include column(12);
    }
  }
}
